<h1>All properties: </h1>
<table class="table">
  <caption>List of properties</caption>
  <thead>
    <tr>
      <th scope="col">property_name</th>
      <th scope="col">details</th>
    </tr>
  </thead>
  <tbody>
  <% @properties.each do |c| %>
    <tr>
      <td><%= c.property_name %></td>
      <td><%= link_to "show details", user_property_path(c.user, c)  if c.user %></td>
    </tr>
  <% end %>
  </tbody>
</table>