<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= link_to "create an event", new_property_event_path(current_user) %>


<h1>All events: </h1>
<table class="table">
  <caption>List of events</caption>
  <thead>
    <tr>
      <th scope="col">Event name</th>
      <th scope="col">details</th>
    </tr>
  </thead>
  <tbody>
  <% @events.each do |e| %>
    <tr>
      <td><%= e.event_name %></td>
      <td><%= link_to "show details", user_event_path(e, current_user) %></td>
    </tr>
  <% end %>
  </tbody>
</table>